<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>

<div class="container pt-2 text-center">
    <h1>liste des club</h1>

<br><br>

<table border="1" class="table">
    <tr>

        <td>id</td>
        <td>REF</td>
        <td>date-creation</td>
        <td>action</td>
        <td>action</td>



    </tr>
    {% for club in club %}
        <tr>
            <td>{{ club.id }}</td>
            <td>{{ club.ref}}</td>
            <td>{{ club.creationdate}}</td>

            <td><a class="btn btn-success" href="{{ path("editclub",{"id":club.id}) }}">edit</a>


            <td> <form method="post" action="{{ path ('dropclub', {'id' : club.id})}}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-success">remove</button>
                </form>
            </td>

        </tr>
    {% endfor %}

</table>
</div>
</body>
</html>


